// checklist.less

.row.tags {
	margin-bottom: 20px;
}
.tags h4 {
	margin-bottom: 0px;
	padding: 1rem;
	line-height: 4.51rem;
	letter-spacing: -0.1rem;
	text-transform: capitalize;
	background: @purple-eye;
	border-radius: 2px;
	background-clip: padding-box;
	border-radius: 2px;
	background-clip: padding-box;
	.cc-btn-shadow;
}
.tags .checklist {
  position: relative; // fixes li overflow height bug ~.tom
	color: @checklist-text-color;
	background: white;
	border-radius: 0px 0px 2px 2px;
	background-clip: padding-box;
	.cc-btn-shadow;
}