// media-list.less

// song row
.media-list > .media {
    background-color: #fff !important;
    border-bottom: 1px solid #f2f2f2;
    a {
    	color: @black;
    }
}
li.media.upload:hover {
    background-color: #f2f2f2 !important;
}

// is playing
.uploads .is-playing, .uploads .is-playing a, .uploads .is-playing .media-heading {
	color: @black;
	background-color: @is-playing-bg-color;
}

// play button
.upload .btn-group.pull-left a {
	color: @black;
}

.upload .btn.play:hover {
	background: #333;
	span {
		color: #fff;
	}
}
.upload.is-playing .btn.play {
	background: #333;
	span {
		color: #fff;
	}
}