// variables.less

// Theme Colors

// Aviation color theme
// via colorlovers.com by southpaws
// http://www.colourlovers.com/palette/1536309/Aviation
// CC-BY-NC-SA
@toms-pants: 					#1C264A; //Dark blue, main color 60%
@aviator: 						#1E6075; //Matte blue, secondary color 20%
@superior-ship: 				#2DA89C; //light blue, 7%
@at-night: 						#2DEBAE; //Highlight blue, 3%
@sing-a-song: 					#DCDEAC; //off-white, 10%

@black: 						#333;

// Navigation
@navbar-background-color: 		@aviator;
@navbar-background-hover-color: darken(@aviator, 10%);
@navbar-link-color: 			#fff;
@navbar-border-bottom-color: 	@aviator;

// Advanced section
@advanced-section-background-color: @superior-ship;

// Checlist
@checklist-text-color: 			@black;

// Selcts
@selects-background-color: 		@superior-ship;

//Dig-bar
@dig-bar-background-color: 		@aviator;